<div class="d-flex justify-content-center flex-column">
  <!-- <div id="map" class="map"></div> -->

  <!-- <div class="form-group">
    <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
      placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" #search>
  </div> -->
  <div class="row">
    <div class="col-md-12" id="map-div">
      <div>
        <google-map
          [zoom]="zoom"
          [height]="400"
          [width]="665"
          [center]="center"
          [options]="options">
          <map-marker
            [position]="destinationCenter"
            [clickable] =true
            [label]="markerLabel"
            [options]="markerOption"
            (mapDragend) ="markerDragEnd($event)">
          </map-marker>
          <map-marker
          [position]="startCenter"
          [clickable] =true
          [label]="markerLabel"
          [options]="startMarker"
          (mapDragend) ="markerDragEnd($event)">
        </map-marker>
        <map-marker
        [position]="center"
        [clickable] =true
        [label]="markerLabel"
        [options]="currentMarker"
        (mapDragend) ="markerDragEnd($event)">
      </map-marker>
        </google-map>
        <!-- <button (click)="zoomIn()">zoom In</button>
        <button (click)="zoomOut()">zoom Out</button> -->
      </div>
      <!-- <agm-map
      [latitude]="currentLatitude"
      [longitude]="currentLongitude"
      [zoom]="zoom"
       (mapClick)="onChooseLocation($event)">
        <agm-marker [latitude]="currentLatitude" [longitude]="currentLongitude">
          <agm-info-window>{{durationtoDestination}}</agm-info-window>
        </agm-marker>
        <agm-circle [latitude]="startLatitude" [longitude]="startLongitude" [radius]="5000" [fillColor]="'blue'" [circleDraggable]="true"
        [editable]="true">
      </agm-circle>
      <agm-circle [latitude]="destinationLatitude" [longitude]="destinationLongitude" [radius]="5000" [fillColor]="'green'" [circleDraggable]="true"
      [editable]="true">
    </agm-circle>
      </agm-map> -->
      <!-- <button (click)="zoomIn()">zoom In</button>
      <button (click)="zoomOut()">zoom Out</button> -->
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {{originAddress}}
    </div>
    <div class="col-md-12">
      <mdb-icon fas icon="map-marker-alt" class="indigo-text"></mdb-icon>

      {{destinationAddress}}
    </div>

  </div>
  <!-- <h5>Dispatched By: {{dispatchedBy}}</h5>
  {{destinationName}}  , {{currentPosName}} -->
</div>
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect>Features</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
          </li>

          <!-- Dropdown -->
          <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              Basic dropdown<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
              </div>
          </li>

      </ul>
      <!-- Links -->

<!-- Search form -->
      <form class="form-inline waves-light" mdbWavesEffect>
          <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
          </div>
      </form>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<mdb-icon fas icon="adjust"></mdb-icon>jkh
<!--/.Navbar-->
<router-outlet></router-outlet>
